* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

  body {
    min-width: 320px;
  }

  @font-face {
    font-family: 'RobotoRegular';
    src: url('../src/assets/font/Roboto/Roboto-Regular.ttf');
  }

  @font-face {
    font-family: 'OpenSansBold';
    src: url('../src/assets/font/Open_Sans/static/OpenSans-Bold.ttf');
  }

  @font-face {
    font-family: 'OpenRegular';
    src: url('../src/assets/font/Open_Sans/static/OpenSans-Regular.ttf');
  }